.DS_Store
__pycache__/
.vscode/
.env
.venv/
venv/

qdrant_db/
markdown_docs/
parent_store/
docs/

notebooks/output.csv

ragas_*.csv
rag_evaluation_*.csv
rag_evaluation_*.png
notebooks/ragas_*.csv
notebooks/rag_evaluation_*.csv
notebooks/rag_evaluation_*.png
evals/results/traces/*.json
evals/results/traces/index.jsonl
